.download-form, .download-prospectus {
    .list-group-item-heading {
        font-weight: bold;
    }
    span.glyphicon.glyphicon-save-file {
        color: $red-heading;
        font-size: 24px;
    }
    i.fa {
        font-size:24px;
        color:$red-heading;
    }
}