// FIX WORD WRAP FOR NEWS-LIST
p.MsoNormalCxSpMiddle, p.MsoNormal {
     word-wrap: break-word; 
}

// section 1
.section1 {
    padding-top: 300px;
    padding-bottom: 300px;
    background-color: $red-heading;
    background-image: url('../../gallery/main-carousel.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include media-query (iphone6, both) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    // For laptops --> like parallax
    @include media-query (laptop-retina) {
            background-attachment: fixed;
    }
    .carousel-inner {
        padding-left: 15%;
        padding-right: 15%;
    }
    h3, p {
        color: white;
    }
}


// section 2
.section2 {
    padding-top: 200px; 
    padding-bottom: 200px;
    background-color: $grey-default;
    .row:first-child {
        position: relative;
        bottom: 100px;
        h1 {
            color:black;
            font-size:48px; 
            text-align: center;
        }
    }
    .carousel-indicators{
        li {
            border-color: #c1c0c0;
            background-color: #c1c0c0;
            &.active {
                background-color: black;
            }
            
        }
        
    }
}

//section 3
.section3 {
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url('../../gallery/black-photograph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // For laptops --> like parallax
    @include media-query (laptop-retina) {
        background-attachment: fixed;
    }
}

// section 4
.section4 {
    // the container
    .container-fluid {
        padding: 50px 0px;
        background-color:#232323;
        height:auto;
        
        .row {
            padding-top:20px; 
            padding-bottom:20px;
            
            h1, span {
                color: white;
            }
            
            span {
                font-style: italic;
            }
        }
    }
    // real time table
    .real-time {
        .table {
            thead {
                tr {
                    th, td {
                        padding: 0px;
                    }
                    &:nth-child(2) th {
                        width: 75%;
                        color:white;
                    }
                    th:only-child {
                        background-color:#ce000c;
                        color:white; 
                        text-align:center; 
                        border-bottom:0;
                    }
                }
            }
            
            tbody {
                tr {
                    &:first-child {
                        color:white; 
                        background-color:#555555;
                    }
                    
                    &:nth-of-type(even){
                        color:$tosca-default;
                    }
                    
                    td {
                        padding: 0px;
                    }
                    
                }
            }
            th {
                border: 0 !important;
                a {
                    color: #ffffff;
                    &:hover {
                        color: #555555;
                    }
                }
            }
            
            td {
                border: 0 !important;
            }
            
        }
        .interest-title {
            padding-top:20px; 
            padding-bottom:40px;
        }
        .interest-rate {
            thead {
                tr {
                    background-color:#ce000c; 
                    color:white
                }
            }
            
            tbody {
                tr {
                    &:nth-of-type(even){
                        color:#ffffff;
                        background-color: #555555;
                    }
                    &:nth-of-type(odd) {
                        color:#639da1;
                        background-color: transparent;
                    }
                }
                
            }
        }
    }
}

// for the all carousels 
.carousel-indicators {
    bottom: -50px !important;
}

.carousel-control {
    &.left, &.right {
        background-image: none !important;
    }
    
}