.navbar {
    @include media-query(iphone6, portrait){
        .container-fluid {
            padding-left: 0px;
        }
    }
    &.navbar-default {
        background-color: #ffffff;
    }

    //first collumn (hidden for desktop)
    .hamburger-container {
        padding-left: 0px;
        @include media-query(laptop-retina){
            display: none !important;

        }
        a {
            // border-right:2px solid lightgrey;
            span {
                color:$red-heading;
            }
        }
    }
    // second collumn
    .logo-brand {
        img {
            @include media-query(iphone6, portrait) {
                padding-top: 10px;
            }
        }
    }
    // Third column (hidden except desktop)
    .topbar-nav {
        display: none;
        @include media-query(laptop-retina) {
            display: initial;
        }
        ul:first-child>li>a, {
            color: #232323;
            font-weight: bold;
            &:hover{
                color: $red-heading !important;
            }
        }
        .dropdown-header {
            color: #232323;
            font-size: 14px;
            font-weight: bold;
            padding-top: 15px;
        }
    }

    // Fourth column
    .reksadana_logo {
        img {
            @include media-query(laptop-retina){
                padding-left: 50px;
            }
        }
    }

}
