.navbar-default {
    .navbar-nav {
        li {
            a {
                color: $red-heading;
            }
            &.active{
                a {
                    color: $red-heading;
                }
            }
            
        }
        .dropdown-menu {
            .active {
                a, a:hover, a:focus {
                    background-color: #f5f5f5;
                    color: $red-heading;
                }
            }
        }
    }
}

// for dual language
.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../../gallery/flags.png') no-repeat;
}


.flag.flag-id {
    background-position: 0 0;
}

.flag.flag-us {
    background-position: -32px 0;
}
